




nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F7F7;
    height: 100px;
    font-family: Poppins;
    p{
        font-weight: 700;
        font-size:16px;
        cursor: pointer;
    }

    .Brand{
        color: #161853;
        font-weight: 600;
    }
   .link{
       text-decoration: none;
   }
   
}